<h1> this is About page </h1>

<p> hello. My name is {{ me.name }}. I'm a student at {{ me.class }}. I'm {{ me.age }} years old</p>

{{#if me.isGrow }}
    <h1> Tôi đang trẩu </h1>
    {{else }}
    <p> tôi đã trưởng thành </p>
{{/if }}