<h1> welcome to the help page. Here have helper: </h1>
<ul>
{{!-- {{#each user as |value key|}}
    <li> {{ key }}: {{ value }} </li>
{{/each}} --}}

{{!-- {{#each list}}
    {{#each this.item}}
        <li> {{ this }} </li>
    {{/each}}
{{/each}} --}}

{{#each listUsers}}

    <li>{{ this.name }}</li>

{{/each}}

</ul>