     <div class="authen__form Login-Form">
		<form method="POST" action="/users/login" class="authen__form-container">
			<div class="authen__form-header">
				<h3 class="authen__form-heading--Login">Đăng Nhập</h3>
				<span class="authen__form-heading--btnSwitch Register-switch">Đăng Ký</span>
			</div>
			<div class="authen__form-content">
				<div class="authen__form--group">
					<input required = "required" class="authen__form-input " type="email" placeholder="Nhập email" name="Email">
				</div>
				<div class="authen__form--group">
					<input required = "required" class="authen__form-input" type="password" placeholder="Nhập pass" name="Pass">
				</div>
			</div>
			<div class="authen__form-instruction">
				<a href="#" class="authen__form-instruction--forgetPass">Quên mật khẩu</a>
				<a href="#" class="authen__form-instruction--help">Cần trợ giúp?</a>
			</div>
			<div class="authen__form-controls">
				<button class="btn btn-back btn-secondary">TRỞ LẠI</button>
				<input type="submit" class="btn btn-primary" value="ĐĂNG NHẬP"></input>
			</div>
		</form>
		<div class="authen_form--socials">
			<a href="#" class="btn btn__with-icons"><i class="fa fa-facebook"></i>  FaceBook</a>
			<a href="#" class="btn btn__with-icons btn-intagram"><i class="fa fa-instagram"></i>  Instagram</a>
		</div>
	</div>